.input-group {
    margin: 15px 0;
}

.input-field {
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid gray;
}

.input-field:focus {
    outline: none;
    border: 1px solid skyblue;
}
