.price-container {
    display: flex;
    align-items: center;
    position: relative;
}

.price-container:hover .arrow {
    display: block;
    transition: .3s;
}

.price-container:hover .price {
    margin-left: 10px;
    transform: translate(20px);
    transition: .4s;
}

.arrow {
    display: none;
    position: absolute;
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--red);
    transition: .3s;
    animation-name: arrow;
    animation-duration: .4s;
}

@keyframes arrow {
    0% {
        top: 10px;
        left: -100px;
    }

    100% {
        left: 0;
    }
}

.translate-hover:hover {
    transform: translate(0, -5px);
    transition: .4s;
    transition-timing-function: ease-in;
}

.table {
    width: 75%;
    border-collapse: collapse;
    margin: 10px auto;
}

.data-name {
    font-weight: 500;
    width: 200px;
}

.table td {
    border: 2px solid darkgray;
    padding: 5px 10px;
    text-align: justify;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 15px;
    background-color: white;
    width: 400px;
    height: 330px;
    border-radius: 7px;
}

.stock-input {
    display: block;
    width: 100%;
    background-color: rgb(250, 250, 250);
    border: none;
    outline: none;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
    margin: 80px 0;
}

.stock-input:focus{
    border: 2px solid lightcoral;
}

@media only screen and (max-width: 700px) {
    .table {
        width: 95%;
    }

    .data-name {
        width: 30%;
    }

    .modal {
        width: 95%;
    }
}